.login-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.login-page section {
    margin: auto;
    max-width: 80rem;
}

.login-page fieldset {
    border-radius: 1em;
}

.login-page fieldset legend {
    margin-left: 2em;
    padding: .5em 1em;
}

.login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
}

.login-page form>input {
    margin-top: .5em;
}

.login-page form>input:not(:last-of-type) {
    margin-bottom: 2em;
}

.login-page form>button {
    margin-top: 2em;
}

.login-page section>button {
    display: block;
    margin: auto;
    margin-top: 2em;
}

.login-page button {
    padding: .5em 1em;
}