.searchbar-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    background-color: white;
    padding: 2em;
    border-radius: .5em;
}

.searchbar-container .searchbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchbar-container .searchbar-wrapper input[name='search'],
.searchbar-container .searchbar-wrapper select {
    padding: .5em 1em;
}

.searchbar-container .searchbar-wrapper input[type="checkbox" i] {
    margin-left: .5em;
}