* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto', 'Arial', sans-serif;
}

:root {
  /* colors */
  --color-accent: red;
  --header-color: black;
  /* font sizes */

  --font-size-medium: 1.25em;
  --header-font-size-h1: 1.75em;
}

html {
  background-color: rgb(247, 242, 226);
}


h1 {
  font-size: var(--header-font-size-h1);
}

p {
  font-size: var(--font-size-medium);
}


/* Scale site */
@media only screen and (min-width: 130em) {

  html,
  body {
    font-size: 105%;
  }
}


@media only screen and (min-width: 160em) {

  html,
  body {
    font-size: 118%;
  }
}